.FotoPrincipal{
    display: grid;
    width: 100%;
    height: 120vh;
    background-image: url(../Multimedia/Foto-pareja-2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}
.Casar{
  font-family: "Dancing Script", cursive;
  font-size: 10em;
  font-weight: 300;
  text-align: center;
  opacity: 100%;
}
.dia{
    font-family: "Dancing Script", cursive;
    font-size: 9em;
    text-align: center;
}

.Texto-In{
  font-family: "Playfair Display", serif;
  text-align: center;
  font-size: 3em;
  background-image: url(../Multimedia/Pareja-boda.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size:contain;
  padding: 2%;

}