.Horario{
    display: flex;
    justify-content: center;
    padding: 1% 25%;
    justify-content: space-around;
    align-items: center;
}
.Itinerario{
    display: block;
    margin-top: auto;

}
.Íconos{
    height: 100px;
}