a{
    text-decoration: none;
    color: black;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #EDEDE9;
    align-items: center;
    padding: 5px;

}
.Encabezado {
    display: flex;
    align-items: center;
}

.Nombres{
    padding-right: 10px;
    font-family: "Playfair Display", serif;
}

.nav{
    font-family: "Playfair Display", serif;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-between;
    text-align: center;
    &-link{
        &:hover{
            color: rgb(53, 104, 151);
        }
        padding: 10px;
    }
}

